@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .link-button
  {
    @apply flex flex-row items-center h-[32px] w-full font-medium hover:bg-[#FFFFFF] rounded-[6px] gap-[7px];
  }
  .small-link-button
  {
    @apply flex flex-row items-center justify-center h-[32px] w-full font-medium gap-[8px] hover:bg-[#FFFFFF] rounded-[6px] gap-[7px];
  }
  .parent-container
  {
    @apply overflow-hidden flex h-screen w-screen;
  }
  .nav-p
  {
    @apply flex items-center font-medium bg-[#FFFFFF] p-[10px] h-[40px] md:w-[360px] w-[160px] border-2 border-solid border-black rounded-lg;
  }
  img{
    @apply cursor-pointer;
  }
  .table-container
  {
    @apply h-[1370px] max-h-fit w-full flex flex-col border-2 border-solid border-black;
  }
  .editor-container
  {
    @apply z-10 fixed top-[185px] h-[402px] sm:w-[612px] w-[360px] flex flex-col rounded-md;
  }
  .editor-button
  {
    @apply overflow-hidden h-[36px] w-full flex p-[4px] gap-[3px] items-center rounded-md whitespace-nowrap;
  }
  option
  {
    @apply ml-[10px] cursor-pointer;
  }
  .dropdown-btn
  {
    @apply text-start pl-[10px];
  }
  .editor-page-container
  {
    @apply  h-full sm:w-[500px] w-[80%] bg-[white] flex flex-col gap-[38px] p-[10px];
  }
  ::-webkit-scrollbar {
    width: 5px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px; /* Optional: rounded corners */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Optional: rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  
  /* Optional: customize scrollbar buttons */
  ::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
  }
}
